service cloud.firestore {
  match /databases/{database}/documents {
    // users can read their own document
    match /users/{userId} {
      allow get: if request.auth.uid == userId;
    }

    // publicly readable meta docs
    match /meta/mj {
      allow read;
    }
    match /meta/blockInfo {
      allow read;
    }

    // transactions are only accessible to involved parties
    match /txs/{txId} {
      allow read: if resource.data.from == request.auth.uid || resource.data.to == request.auth.uid;
    }
  }
}