/* flex-box (direction: row) with a border, margin, and padding */
.mj-box {
    /* https://www.paulirish.com/2012/box-sizing-border-box-ftw/
     * https://github.com/jgthms/bulma/blob/master/sass/base/minireset.sass */
    box-sizing: border-box;
    display: flex;

    border: 1px solid #DAE1E9;
    border-radius: 0.3rem;

    margin: 1rem;
    padding: 1rem;
}

.flex-row {
    display: flex;
    /* flex-direction: row; default already */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* alignment */
.center-all {
    align-items: center; /* flex: vertical */
    justify-content: center; /* flex: horizontal */
    text-align: center; /* text: centered text */
}

.center-h {
    justify-content: center; /* flex: horizontal */
    text-align: center; /* text: centered text */
}

.align-start {
    align-items: flex-start; /* stretch is default, which stretches images in flex-row layout */
}

.flex-grow-1 {
    flex-grow: 1; /* by default, boxes in flex-row will only wrap content, this makes them take full with of remaining parent space */
}

.flex-order-1 {
    order: 1; /* default order is 0, so order: 1 will pull item to right */
}

/* spacing */
/* m: margin, p: padding  |  (optional) t, r, b, l: top, right, bottom, left  |  x: extra ..., s: small, m: medium, l: large */
/* note: try to use top and left margins whenever possible for simplicity and to avoid margin collapsing */
.m-m {
    margin: 1rem;
}

.m-t-l {
    margin-top: 1.5rem;
}

.m-t-m {
    margin-top: 1rem;
}

.m-t-xs {
    margin-top: 0.25rem;
}

.m-l-m {
    margin-left: 1rem;
}

.m-l-s {
    margin-left: 0.5rem;
}

.p-s {
    padding: 0.5rem;
}

/* sizing */
/* f: font  |  x: extra ..., s: small, m: medium, l: large */
.f-s {
    font-size: 0.8rem;
}

/* typography */
.faded {
    color: grey;
}

/* spinner */
.spinner::before {
    content: '';
    height: 1rem;
    width: 1rem;
    animation: rotate360 500ms infinite linear;
    border: 2px solid #209cee;
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
}

/* animations */
@keyframes rotate360 {
    to {transform: rotate(360deg);}
}
