.App-footer {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

/* flex-box with a border, margin, and padding */
.mj-box {
    display: flex;
    flex-direction: column;

    border: 1px solid #DAE1E9;
    border-radius: 0.3rem;

    margin: 1rem;
    padding: 1rem;
}

.flex-row {
    flex-direction: row;
}

/* right margin medium */
.r-m-m {
    margin-right: 1rem;
}